@import "../../../../scss/style.scss";

.banner {
  padding: 18px;
  font-weight: 700;
}
.back-label {
  font-family: Arial, Helvetica, sans-serif;
}
.heading {
  font-weight: 600;
  font-size: 0.8rem;
  text-transform: uppercase;
  color: $heading-color;
}
.value {
  font-weight: 500;
  font-size: 0.8rem;
  margin-left: 10px;
  color: $value-color;
}
.back-icon {
  cursor: pointer;
}
.custom-switch {
  margin-left: 1rem;
}
.mt-2 {
  margin-top: 2rem!important;
}
