<div class="full-page">
<div class="card login-form">
  <div class="card-body">
    <div class="text-center"><img src="../../../assets/img/brand/payphi.jpg" class="img-fluid" width="70%"></div>
    <h3 class="card-title text-center">Reset password</h3>

    <div class="card-text">
      <form [formGroup]="forgotPasswordForm" (ngSubmit)="forgotPassword()">
        <div class="form-group">
          <label for="exampleInputEmail1">Enter your email address and we will send you a link to reset your
            password.</label>
            <input type="text" class="form-control" placeholder="Email" autocomplete="off" formControlName="userEmail"
              [ngClass]="{ 'is-invalid': formSubmitted && f.userEmail.errors }" required>
            <div *ngIf="formSubmitted && f.userEmail.errors" class="invalid-feedback">
              <div *ngIf="f.userEmail.errors.required">Email is required</div>
              <div *ngIf="f.userEmail.errors.pattern">Enter valid email ID</div>
            </div>
        </div>
        <div class="row ml-1 mb-1" *ngIf="showError" style="width: 100%;font-size: 80%; color: #f86c6b;">
          {{errorTitle}}
        </div>
        <button type="submit" class="btn btn-primary btn-block">Send password reset email</button>
      </form>
      <div class="text-center">
        <button type="button" class="btn btn-link px-0 " routerLink='/login'>Login</button>
      </div>
    </div>
  </div>
</div>
</div>
