@import "../../../scss/style.scss";
.table-row {
  cursor: pointer;
}
.fa-plus-circle {
  cursor: pointer;
}
table {
  font-size: $font-size;
}
.item-number {
  display: inline-block;
  border: 1px solid rgba($color: grey, $alpha: 0.7);
  padding-left: 9px;
  padding-right: 9px;
  padding-top: 2px;
  padding-bottom: 2px;
  cursor: pointer;
}

.item-number-active {
  background-color: #2199e8;
  color: white;
  display: inline-block;
  border: 1px solid rgba($color: grey, $alpha: 0.7);
  padding-left: 9px;
  padding-right: 9px;
  padding-top: 2px;
  padding-bottom: 2px;
  cursor: pointer;
}

.badge {
  padding: 0.5em 0.6em !important;
}
