.back {
  cursor: pointer;
  font-family: Arial, Helvetica, sans-serif;
}
.back-label {
  font-family: Arial, Helvetica, sans-serif;
}
.title {
  margin-top: 3%;
  font-weight: 600;
}
.input-group-prepend {
  display: none;
}

::ng-deep .iti--allow-dropdown {
  width: 100%;
}

::ng-deep .ng-select {
  width: 100%;
}

.pre-id {
  padding: 0.4rem;
  font-weight: 500;
  padding-left: 0 !important;
  font-size: 0.8rem;
}

// tooltip style
[data-tip] {
  position: relative;
}
[data-tip]:before {
  content: "";
  /* hides the tooltip when not hovered */
  display: none;
  content: "";
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-bottom: 5px solid #1a1a1a;
  position: absolute;
  top: -5px;
  left: 35px;
  z-index: 8;
  font-size: 0;
  line-height: 0;
  width: 0;
  height: 0;
}
[data-tip]:after {
  display: none;
  content: attr(data-tip);
  position: absolute;
  top: -35px;
  left: 0px;
  padding: 5px 8px;
  background: #1a1a1a;
  color: #fff;
  z-index: 9;
  font-size: 0.75em;
  height: 30px;
  line-height: 18px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  white-space: nowrap;
  word-wrap: normal;
}
[data-tip]:hover:before,
[data-tip]:hover:after {
  display: block;
}

::ng-deep.swal2-title {
  font-size: 24px !important;
}

::ng-deep.swal2-styled.swal2-confirm {
  background-color: #20a8d8 !important;
}
