.banner {
  padding: 20px;
  font-weight: 700;
}
.heading {
  font-weight: 600;
}
.value {
  // font-weight: 500;
}
.back-icon {
  cursor: pointer;
}
.form-control {
  border-radius: 4px;
  border: 1px solid #ccc;
  box-shadow: none;
}
.mt-1 {
  margin-top: 1rem!important;
}
