@import "../../../../scss/style.scss";
.banner {
  padding: 20px;
  font-weight: 700;
}
.heading {
  font-weight: 600;
  font-size: 0.9rem;
  text-transform: uppercase;
  color: $heading-color;
}
.value {
  font-weight: 500;
  font-size: 0.8rem;
  // text-transform: uppercase;
  color: $value-color;
  // font-weight: 500;
}
.back-icon {
  cursor: pointer;
}
.back-label {
  font-family: Arial, Helvetica, sans-serif;
}
