.banner {
  padding: 20px;
  font-weight: 700;
}
.heading {
  font-weight: 700 !important;
  color: gray;
}
.value {
  font-weight: 500;
}
.back-icon {
  cursor: pointer;
}
.form-control {
  border-radius: 4px;
  border: 1px solid #ccc;
  box-shadow: none;
}

.mt-10 {
  margin-top: 10rem;
}

li {
  background-color: #ccc;
  border-bottom: 1px solid #b7b1b1;
}

li > a {
  font-weight: 400;
  font-size: 1rem;
}
.badge-all {
  position: relative;
  top: -14px;
  left: -4px;
  border: 1px solid #e1052d;
  border-radius: 50%;
  background: #e1052d;
  color: #dbe5e9;
  z-index: 99999;
  // width: 25px;
  // height: 25px;
  text-align: center;
}
.dropdown-menu {
  min-width: 250px !important;
}
.dropdown-menu > li > a {
  position: relative;
}
.dropdown-menu > li > a > .badge {
  position: absolute;
  right: 5px;
}
.bg-secondary {
  background: #e1052d !important;
  color: #dbe5e9 !important;
}

.radio-label {
  font-size: 1rem;
  padding-left: 1rem;
  margin-bottom: 2rem;
  font-weight: 500;
  color: gray;
}

.req-error {
  color: red;
  font-size: 0.8rem;
}
.no-data {
  font-weight: 500;
  font-size: 1rem;
  text-align: center;
  padding-bottom: 2rem;
  color: lightgray;
}

::ng-deep.legend-labels {
  max-height: 200px !important;
}

::ng-deep.legend-label {
  margin: 5px !important;
}

.card-title {
  background: #20a8d8;
  padding: 0.6rem;
  color: #fff;
  text-align: center;
}

.card-body {
  padding: 0 !important;
}

.show-chart {
  padding: 1.25rem !important;
  overflow: hidden !important;
}

.fix-height {
  min-height: 470px !important;
}

.greater {
  background: #47b147;
  padding: 0.2rem;
  color: #fff;
}

.lower {
  background: red;
  padding: 0.2rem;
  color: #fff;
}

.col-xs-15,
.col-sm-15,
.col-md-15,
.col-lg-15 {
  position: relative;
  min-height: 1px;
  padding-right: 10px;
  padding-left: 10px;
  margin: auto;
  text-align: center;
}

.col-xs-15 {
  width: 25%;
  float: left;
}
@media (min-width: 768px) {
  .col-sm-15 {
    width: 25%;
    float: left;
  }
}
@media (min-width: 992px) {
  .col-md-15 {
    width: 25%;
    float: left;
  }
}
@media (min-width: 1200px) {
  .col-lg-15 {
    width: 25%;
    float: left;
  }
}
